@charset "utf-8";

// Début variables custom

$dark: #3d3d3d;
$blue: #5C8CA0;

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

// Fin variables custom

@import "../node_modules/bootstrap/scss/bootstrap";

// Variables media queries
$xs: map-get($map: $grid-breakpoints, $key: xs);
$sm: map-get($map: $grid-breakpoints, $key: sm);
$md: map-get($map: $grid-breakpoints, $key: md);
$lg: map-get($map: $grid-breakpoints, $key: lg);
$xl: map-get($map: $grid-breakpoints, $key: xl);
$xxl: 1400px;

// CSS

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: $dark;
}

:is(h1, h2, h3, h4, h5, h6) {
    color: $blue;
}

.mm-bg-img {
    position: fixed;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    align-content: center;
}

.pulse-btn {
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba($primary, .5);
    -webkit-animation: pulse 1.5s infinite;
}

.pulse-btn:hover {
    -webkit-animation: none;
}

#title {
    padding-top: 8rem;
}

#hero-content {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    margin-bottom: 0;
}

@media (max-width: $sm) {
    #logo {
        max-width: 50%;
    }

    #title {
        font-size: 2rem;
        padding-top: 6rem;
    }
}

@media (max-width: $md) {
    #title {
        padding-top: 6rem;
    }
}

@media (min-width: $sm) {
    .mm-bg-img {
        top: 0px;
    }

    #title {
        font-size: 3rem;
    }
}

@media (min-width: $md) {
    .mm-bg-img {
        top: -100px;
    }

    #hero-content p {
        margin-left: 4em;
        margin-right: 4em;
    }
}

@media (min-width: $lg) {
    .mm-bg-img {
        top: -200px;
    }

    .pulse-btn {
        margin-top: 2rem;
    }

    #hero-content p {
        margin-left: 6em;
        margin-right: 6em;
    }
}

@media (min-width: $xl) {
    .mm-bg-img {
        top: -350px;
    }

    #hero-content p {
        margin-left: 10em;
        margin-right: 10em;
    }
}

@media (min-width: $xxl) {
    .mm-bg-img {
        top: -450px;
    }

    #title {
        padding-top: 12rem;
    }
}

// ANIMATION DEFINITION
@-webkit-keyframes pulse {
    0% {
        @include transform(scale(.9));
    }
    70% {
        @include transform(scale(1));
        box-shadow: 0 0 0 25px rgba($primary, 0);
    }
    100% {
        @include transform(scale(.9));
        box-shadow: 0 0 0 0 rgba($primary, 0);
    }
}