@charset "utf-8";

// Début variables custom

$dark: #3d3d3d;
$light: #FFFFFF;
$blue: #5C8CA0;

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

// Fin variables custom

@import "../node_modules/bootstrap/scss/bootstrap";

// Variables media queries
$xs: map-get($map: $grid-breakpoints, $key: xs);
$sm: map-get($map: $grid-breakpoints, $key: sm);
$md: map-get($map: $grid-breakpoints, $key: md);
$lg: map-get($map: $grid-breakpoints, $key: lg);
$xl: map-get($map: $grid-breakpoints, $key: xl);
$xxl: 1400px;

// CSS

html, body, #body2
{
    height: 100%;
    min-height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: $dark;
}

:is(h1, h2, h3, h4, h5, h6) {
    color: $blue;
}

.mm-bg-img {
    position: fixed;
    z-index: -3060;
    min-width: 100%;
    min-height: 100%;
    align-content: center;
}

.pulse-btn {
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba($primary, .5);
    -webkit-animation: pulse 1.5s infinite;
}

.pulse-btn:hover {
    -webkit-animation: none;
}

.scroll-block {
    position: relative;
}

.jumbotron {
    background-color: $light;
}

.deco-verticale {
    position: absolute;
    top: -2rem;
    width: 30px;
    height: 10px;
    border: solid $blue;
    border-radius: 25% 25% 25% 0;
    background-color: $blue;
}

.deco-horizontale {
    position: absolute;
    top: -2rem;
    width: 10px;
    height: 30px;
    border: solid $blue;
    border-radius: 25% 0 25% 25%;
    background-color: $blue;
}

#title {
    padding-top: 3rem;
}

#hero-content {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    margin-bottom: 0;
}

@media (max-width: $sm) {
    #logo {
        max-width: 50%;
    }

    #title {
        font-size: 2rem;
        padding-top: 4rem;
    }
}

@media (max-width: $md) {
    #title {
        padding-top: 4rem;
    }
}

@media (min-width: $sm) {
    .mm-bg-img {
        top: 0px;
    }

    #title {
        font-size: 3rem;
    }
}

@media (min-width: $md) {
    .mm-bg-img {
        top: -100px;
    }

    #hero-content p {
        margin-left: 4em;
        margin-right: 4em;
    }
}

@media (min-width: $lg) {
    .mm-bg-img {
        top: -200px;
    }

    .pulse-btn {
        margin-top: 2rem;
    }

    #hero-content p {
        margin-left: 6em;
        margin-right: 6em;
    }
}

@media (min-width: $xl) {
    .mm-bg-img {
        top: -350px;
    }

    #hero-content p {
        margin-left: 10em;
        margin-right: 10em;
    }
}

@media (min-width: $xxl) {
    .mm-bg-img {
        top: -450px;
    }

    #title {
        padding-top: 12rem;
    }
}


.people{
  padding: 80px 5px 5px 5px;
  text-align : center;
  height: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.ecole-row {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.ecole-bande {
    margin: 2.5em 0 0 0;
}

.ecole {
    margin: 2.5em auto 0 auto;
    text-align: center;
    //max-width: 300px;
    padding: 1em;
}

.ecole-icon {
    position: absolute;
    left: 1em;
}

.primary-border{
  border-radius: 30px;
  border : 3px solid #5C8CA0;
}

.people img{
  border-radius: 50%;
}

.people .titre{
  color : #51707D;
  font-size: 14px;
}

.equipe-border{
  border : 3px solid #5C8CA0;
  border-top-right-radius: 35px 50%;
  border-bottom-right-radius: 35px 50%;
  width: auto ! important;
  background-color: white;
  position: absolute;
  left: -100px;
  padding-left: calc(100px + 3%);
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 30px;
  position: absolute;
}

.nav-margin {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}

@media (min-width: 576px) {
  .nav-margin {
    padding: 4rem 2rem; } 
}

.half-circle {
    width: 150px;
    height: 75px;
    /* background-color: gold; */
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 3px solid #5C8CA0;
    border-bottom: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top : -75px;
    left : calc(50% - 75px);
}

.espace{
  height: 100px;
  width: 100%;
}


@media (min-width: 992px) {
	.primary-bande{
		background-color: #5C8CA0;
		width: calc( 1200% + 64px);
		height: 20px;
		position: absolute;
		z-index: 1;
		left: calc( -48px);
		top : calc( 50% - 10px);
	}

  .usage-block{
    margin: 0px 25px 0px 25px;
    max-width: calc(33% - 50px);
  }

  .ecole-block{
    margin: 0px 25px 0px 25px;
    max-width: calc(50% - 50px);
    margin-bottom : 25px;
  }

  .lg-espace{
    width : 100px;
    height : 25px;
  }
}

@media (min-width: 768px) {
  .contact-icon{
    padding-left : 50px;
  }
  .contact-text{
    padding-left : 50px;
  }
}

@media (max-width: 991px) {
	.primary-bande-sm{
		background-color: #5C8CA0;
	    width: calc( 100% + 64px);
	    height: 20px;
	    position: absolute;
	    z-index: 1;
	    left: -32px;
		top : calc( 50% - 10px);
	}

  .usage-block{
    margin-bottom : 25px;
  }

	@media (min-width : 576px){
		.dessus::before{
			content : "";
			background-color: #5C8CA0;
		    width: 32px;
		    height: 20px;
		    position: absolute;
		    z-index: 1;
		    left: -33px;
			top : calc( 50% - 10px);
		}

		.dessus::after{
			content : "";
			background-color: #5C8CA0;
		    width: 18px;
		    height: 20px;
		    position: absolute;
		    z-index: 1;
		    right : -20px;
			top : calc( 50% - 10px);
		}
	}
}

.dessus{
	z-index : 5;
	background-color: white;
}

.align-right{
  text-align: right;
}

.citation{
  text-align: center;
  font-size: 20px;
  width: 100%
}

.contact-title{
  text-align: center;
  width: 100%;
  padding: 5px 5px 5px 5px;
  border-bottom: 3px solid #5C8CA0;
}

// ANIMATION DEFINITION
@-webkit-keyframes pulse {
    0% {
        @include transform(scale(.9));
    }
    70% {
        @include transform(scale(1));
        box-shadow: 0 0 0 25px rgba($primary, 0);
    }
    100% {
        @include transform(scale(.9));
        box-shadow: 0 0 0 0 rgba($primary, 0);
    }
}

.livrable-border{
    border-radius: 20px;
    padding: 25px 25px 25px 25px;
    border: 3px solid;
}

.center{
  text-align: center;
}
